## Wine
### Introduction:
This exercise is a adaptation from the UCI Wine dataset. The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this address.

### Step 3. Assign it to a variable called data

In [2]:
data=pd.read_csv("winedata.csv", header=None)

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [4]:
data.drop([0,3,6,8,11,12,13],axis=1)

        1     2     4    5     7     9      10
0    14.23  1.71  15.6  127  3.06  2.29   5.64
1    13.20  1.78  11.2  100  2.76  1.28   4.38
2    13.16  2.36  18.6  101  3.24  2.81   5.68
3    14.37  1.95  16.8  113  3.49  2.18   7.80
4    13.24  2.59  21.0  118  2.69  1.82   4.32
..     ...   ...   ...  ...   ...   ...    ...
173  13.71  5.65  20.5   95  0.61  1.06   7.70
174  13.40  3.91  23.0  102  0.75  1.41   7.30
175  13.27  4.28  20.0  120  0.69  1.35  10.20
176  13.17  2.59  20.0  120  0.68  1.46   9.30
177  14.13  4.10  24.5   96  0.76  1.35   9.20

[178 rows x 7 columns]

In [5]:
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

### Step 5. Assign the columns as below:
The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):
1) Alcohol
2) Malic acid
3) Ash
4) Alcalinity of ash
5) Magnesium
6) Total phenols
7) Flavanoids
8) Nonflavanoid phenols
9) Proanthocyanins
10)Color intensity
11)Hue
12)OD280/OD315 of diluted wines
13)Proline


NOTE: 0th attribute is class identifier - Type of cultivator (1-3)

In [ ]:
data.columns=['class_identifier','alcohol', 'Malic_acid', 'ash', 'Alcalinity_ash', 'Magnisum', 'total_phenols', 'Flavanoids', 'Nonflavanoid_phenols', 'Proanthocyanins', 'Color_intensity', 'Hue', 'OD280/OD315_of_diluted_wines', 'Proline'
]

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [ ]:
data.loc[0:2,"alcohol"]=np.nan

In [ ]:
data

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [ ]:
data.loc[2:3,"Magnisum"]=np.nan

In [ ]:
data

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [ ]:
data["alcohol"].fillna(10)

In [ ]:
data["Magnisum"].fillna(100)

### Step 9. Count the number of missing values

In [ ]:
data.isnull().sum()

### Step 10. Create an array of 10 random numbers up until 10

In [ ]:
rand=np.random.randint(0,10,10)

In [ ]:
rand

### Step 11. Use random numbers you generated as an index and assign NaN value to each of cell.

In [ ]:
rand=np.unique(rand)

In [ ]:
data.loc[rand,:]=np.nan

In [ ]:
data.loc[rand,:]

### Step 12. How many missing values do we have?

In [ ]:
data.isnull().sum()

### Step 13. Delete the rows that contain missing values

In [ ]:
data=data.dropna()

### Step 14. Print only the non-null values in alcohol

In [ ]:
data["alcohol"]

### Step 15. Reset the index, so it starts with 0 again

In [ ]:
data=data.reset_index()

In [ ]:
data

### Step 16. Delet the previous column of index

In [ ]:
data=data.drop(["index"],axis=1)

In [ ]:
data